/*
 * Imports Raleway (300 weight) and Lato fonts (300 and 400 weight) from Google Fonts.
 */
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
	font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
	background-image: url("../img/background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-size: 18px;
	font-weight: 300;
}

/*
 * General Page Body Formatting
 */
a {
	text-decoration: none;
}

a:link, a:visited {
	color: #0000AA;
}

a:hover, input:focus; {
	color: #0000EE
}

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: 300;
}

h2, h3 {
	color: #505050;
}

h1 {
	font-size: 300%;
	margin: 0;
}

h2 {
	font-size: 150%;
	margin: 0;
}

h3 {
	font-size: 125%;
}